<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Elérhetőségeink</h4>
                <ul>
                    <li><b>Telefon:</b> 06301234567</li>
                    <li><b>E-mail:</b> carmarketuzleti@gmail.com</li>
                    <li><b>Cím:</b> 1100 Budapest V. kerület Dob utca 13.</li>
                </ul>
            </div>
            <div class="col">
                <h4>Rólunk</h4>
                <ul>
                    <li><b>Alapítási évünk:</b> 2023</li>
                    <li>Több mint <b>300</b> eladó autó van a kínálatunkban</li>
                </ul>
            </div>
            <div class="col">
                <h4>További platformok</h4>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><b>Facebook</b></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><b>Youtube</b></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><b>Instagram</b></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>